services:
  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_DATABASE: db
      MYSQL_USER: line-up
      MYSQL_PASSWORD: 1398
      MYSQL_ROOT_PASSWORD: 1398
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -u root -p$$MYSQL_ROOT_PASSWORD" ]
      interval: 10s

#  app:
#    image: finepine0430/line-up
#    container_name: app
#    build:
#      context: .
#      platforms:
#        - "linux/amd64"
#      target: builder
#    ports:
#      - "8080:8080"
#    environment:
#      JAVA_OPTS: "-Xms256m -Xmx512m"
#    depends_on:
#      db:
#        condition: service_healthy
#      redis:
#        condition: service_started
#
#  prometheus:
#    image: prom/prometheus
#    container_name: prometheus
#    ports:
#      - "9090:9090"
#    volumes:
#      - ./prometheus.yml:/etc/prometheus/prometheus.yml
#
#  grafana:
#    image: grafana/grafana
#    container_name: grafana
#    ports:
#      - "3001:3000"
#    environment:
#      - GF_SECURITY_ADMIN_USER=admin
#      - GF_SECURITY_ADMIN_PASSWORD=admin
#    volumes:
#      - grafana_data:/var/lib/grafana

  # Redis
  redis:
    image: redis:7.0
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

#  # Redis Exporter
#  redis_exporter:
#    image: oliver006/redis_exporter
#    container_name: redis_exporter
#    ports:
#      - "9121:9121"
#    command:
#      - '--redis.addr=redis://redis:6379'
#    depends_on:
#      - redis

volumes:
  mysql_data:
#  grafana_data:
  redis_data:
